beta-api/src/main/mule/beta-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e948d4b-5964-4066-8e3f-be30780879a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="beta-apiFlow" doc:id="f398f645-5b0b-427e-993f-82892df2aaa6" >
		<http:listener doc:name="Listener" doc:id="7cbf272b-bf44-4841-8281-3856b71400f8" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message": "Hello World"&#10;}]' doc:name="Set Payload" doc:id="84765906-fe66-42fa-ad29-1bbd2a37918b" />
	</flow>
	<flow name="lead-post" doc:id="b3303f96-3607-432c-a245-fede13bf573a" >
		<http:listener doc:name="Listener" doc:id="f3fbb1a6-4b6e-4c20-a9cc-a08f14f43042" config-ref="HTTP_Listener_config" path="/leads" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="5b5c5c6d-5e02-4998-87c8-9217ca3838e4" message="Lead creation has started"/>
		<ee:transform doc:name="Transform Message" doc:id="9caf84f2-8c8c-46dd-82b7-4fe169cac9fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
