beta-api/src/main/mule/beta-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e948d4b-5964-4066-8e3f-be30780879a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="beta-apiFlow" doc:id="f398f645-5b0b-427e-993f-82892df2aaa6" >
		<http:listener doc:name="Listener" doc:id="7cbf272b-bf44-4841-8281-3856b71400f8" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="84765906-fe66-42fa-ad29-1bbd2a37918b" />
	</flow>
</mule>
