training4-american-ws/src/main/mule/training4-american-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81313c66-532b-426a-bf87-af5b0901aa1d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2e7fe782-97ea-4ad3-968f-02c1b45ae8e8" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="6210d3c9-9790-4894-b8d9-879e30b6a702" >
		<http:listener doc:name="Listener" doc:id="74dcdb64-21c5-4ffd-9724-f353e4767c9e" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="40bfc177-4b08-4a18-b2b6-5021525ad99e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="91e90cce-2078-4796-94ae-1f0c078b4199" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="eba307e2-9510-4425-9fb7-595320362654" >
		<http:listener doc:name="Listener" doc:id="2fdd62c2-a846-4cda-a2ea-97b4dd2b8095" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<db:select doc:name="Select" doc:id="554c91a9-9b67-4c4e-be2d-ca08eea753fb" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american WHERE ID := ID]]></db:sql>
			<db:input-parameters ><![CDATA[{'ID' : attributes.uriParams.ID}]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="110866fc-fa6c-4b3c-858b-d8d4c72973e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="fc61e284-7a8e-479a-82fb-acaacd3c209e" >
		<http:listener doc:name="Listener" doc:id="8d61c44b-28a1-469c-a2f8-9c80046d80a0" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='#[{"message": "Flight added (but not really)"}]' doc:name="Set Payload" doc:id="1a4d76a6-818b-4adc-9877-f5a4ce2cbe22" />
	</flow>
</mule>
