apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="7fe8f791-fdbe-4b4b-8b90-693cb41ae197" >
		<http:listener doc:name="GET /hello" doc:id="e49be783-ea4e-4c66-a640-f79b1d96b542" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/hello">
			<http:response reasonPhrase="Success">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="apdev-examples-SubFlow" doc:id="3fc04b4c-ebec-454b-ade0-142d6da342bc" name="apdev-examplesSub_Flow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="1bf88551-8289-4b63-b1bb-993fc88f3cbb" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="b2ae2243-c764-45d3-8944-c2bc402883c9" message="#['Message: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="7facde96-bed1-4302-92f9-e2368dfb93a1">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="b117e991-fc6a-480e-9167-cbad6cc9f43d" path="/goodbye" config-ref="HTTP_Request_configuration">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="apdev-examplesSub_Flow" doc:id="9cc95c2f-f4b5-469b-9814-7070e703f14c" >
		<set-variable value="#[attributes.queryParams.fname]" doc:name="firstName" doc:id="96de9f67-cc15-4007-a453-3a2d65f82da1" variableName="firstName"/>
		<set-payload value="#['Hello: ' ++ vars.firstName]" doc:name="Hello" doc:id="555a8dfc-92f9-4b34-8167-1b4db2777706" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="222e8cc2-c0bf-4a80-a2ba-6c570836ed4a" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="ba2009e4-82f5-4dad-9a49-9c797d6dc0ff" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Set Payload" doc:id="293a1c74-4c5c-4256-a999-e090cc455bdf" />
		<logger level="INFO" doc:name="Logger" doc:id="224b5998-f6dc-4b89-9a19-60c8b408e711" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
