apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8b4c46b-bf62-404d-a600-79f75dec025e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="830a5b61-509f-43e2-b5ed-fc2ba4c38349" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="helloFlow" doc:id="7fe8f791-fdbe-4b4b-8b90-693cb41ae197" >
		<http:listener doc:name="GET /hello" doc:id="e49be783-ea4e-4c66-a640-f79b1d96b542" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/hello">
			<http:response reasonPhrase="Success">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="Set Variable" doc:id="404f3ebe-7d46-4246-80ed-07c8a66916c2" variableName="firstName"/>
		<set-payload value="Hello" doc:name="Hello" doc:id="191423a2-2a47-4548-9301-6983bae07ff3" />
		<http:request method="GET" doc:name="GET /goodbye" doc:id="b117e991-fc6a-480e-9167-cbad6cc9f43d" path="/goodbye" config-ref="HTTP_Request_configuration" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="b2ae2243-c764-45d3-8944-c2bc402883c9" message="#['Message: ' ++ payload]"/>
	</flow>
	<flow name="goodbyeFlow" doc:id="222e8cc2-c0bf-4a80-a2ba-6c570836ed4a" >
		<http:listener doc:name="Listener" doc:id="40ccd3d1-daae-49b7-989b-8a22eb2a4117" config-ref="HTTP_Listener_config" path="/goodbye" allowedMethods="GET"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Set Payload" doc:id="293a1c74-4c5c-4256-a999-e090cc455bdf" />
		<logger level="INFO" doc:name="Logger" doc:id="224b5998-f6dc-4b89-9a19-60c8b408e711" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
